body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #e2e2e2;
}

html{
    padding: 0;
    margin: 0;
}

footer {
    width: 100%;
    position: relative; /* Mantém no fluxo da página */
    left: 0;
    bottom: 0;
    margin: 0; /* Remove qualquer margem */
    padding: 0; /* Remove padding adicional */
  }
/*header {
    background: linear-gradient(150deg, #372101, #B29335);;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    color: #B29335;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}
nav a:hover {
    color: #372101;
}*/
.hero {
    background: url('../imagens/fundo.jpeg') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    /* background-attachment: fixed;*/
}
a#tituloo{
    padding: 12px;
}

div#hero1{
    
        background: url('../imagens/sofaretratilemlistras.jpg') no-repeat center center/cover;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        text-align: center;
}

div#hero2{
    
    background: url('../imagens/cama.webp') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

div#hero3{
    
    background: url('../imagens/cabeceira.webp') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

div#hero4{
    
    background: url('../imagens/cantoalemaofundo.jpg') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}
.hero h2 {
    font-size: 2.5rem;
    color: #b29335;
    text-shadow:  3px 3px 3px black;
}
.products {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.card-img-top{
    height: 250px; /* Altura desejada */
    object-fit: cover; /* Corta a imagem para ajustar sem distorção */
}
.carousel-item{
    height: 250px; /* Altura desejada */
    object-fit: cover; /* Corta a imagem para ajustar sem distorção */
}

.card-title{
    text-shadow:1px 1px 1px black ;
}
.btn-primary {
    text-shadow:1px 1px 1px black ;
}
.border-warning{
box-shadow:0.5px 0.5px 0.5px rgba(0, 0, 0, 0.538) ;}

.carrossel {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    height: 100vh;
    
}
.carousel slide{
width: 200px;
height: 100px;
background-color: #4CAF50;
color: white;
text-align: center;
line-height: 100px;
}


.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
    box-shadow:  3px 3px 3px 3px #372101a6;
}
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
h3 {
    text-align: center;
    color: #B29335;
    font-size: 30px;
}

a {
    text-decoration: none ;
    color:#B29335 ;
}

a#tituloo{
    color: #B29335;
    text-shadow:  1px 1px 1px black;
}
